INFRA_PG_SUPERUSER=infra
INFRA_PG_SUPERPASS=infra_pwd
INFRA_PG_DEFAULT_DB=infra
INFRA_PG_PORT=5432

MGW_PG_DB=message_gateway
MGW_PG_USER=mgw
MGW_PG_PASSWORD=mgw_pwd

LLMGW_PG_DB=llm_gateway
LLMGW_PG_USER=llmgw
LLMGW_PG_PASSWORD=llmgw_pwd

AGENT_CENTER_PG_DB=agent_center
AGENT_CENTER_PG_USER=agent_center
AGENT_CENTER_PG_PASSWORD=agent_center_pwd

ADMIN_CONSOLE_PG_DB=admin_console
ADMIN_CONSOLE_PG_USER=admin_console
ADMIN_CONSOLE_PG_PASSWORD=admin_console_pwd

CMS_PG_DB=content_system
CMS_PG_USER=cms
CMS_PG_PASSWORD=cms_pwd

INFRA_REDIS_PORT=6379

INFRA_MINIO_ROOT_USER=infra_minio
INFRA_MINIO_ROOT_PASSWORD=infra_minio_pwd
INFRA_MINIO_PORT=9000
INFRA_MINIO_CONSOLE_PORT=9001
